
<div class="daysPlanPage">
 
    <section class="coverContainer">
 
        <div class="shade"></div>
        <div class="container">
 
            <span>
                4 Days 3 Nights
            </span>
            <div>

                <label class="large">
                    Jordan in a Nutshell
                </label>
                <label class="small">
                    Summer Promotion Until September 31 st, 2024
                </label>

            </div>
            <button class="font-size-16px min-width-171px height48 white">Book now</button>

        </div>
        <img class="clouds" [src]="'/assets/images/clouds.png'"/>

    </section>

    <section class="about">

        <img class="linear" [src]="'/assets/images/linear-2.png'"/>
        <div class="container">

            <img class="frame" [src]="'/assets/images/Frame.png'"/>
            <div class="sectionTitle">

                <span>About Itinerary</span>
                <label>A fun Itinerary for you and your family</label>

            </div>
            <div class="daysPlan">
                
                <div class="daysPlan-container">

                    <div class="daysPlan-container-part daysPlan-container-part_flex2">

                        <label>
                            Day 1: Arrival in Jordan – Amman City Tour – Petra
                        </label>
                        <small>
                            Salam, welcome to Jordan! Upon your arrival at Queen Alia International Airport, our friendly local representative will greet you and assist with your visa, baggage, and customs procedures. Begin your journey with an enlightening city tour of Amman, exploring its bustling streets, vibrant markets, the Citadel, and the Roman Theater. After immersing yourself in the lively capital, transfer to the mystical city of Petra, where you'll stay overnight, poised to discover its hidden treasures.
                        </small>
                        <span>Meals: Breakfast</span>

                    </div>
                    <div class="daysPlan-container-part daysPlan-container-part_flex1">
                        <img [src]="'/assets/images/plan1.png'"/>
                    </div>
 
                </div>

                <div class="daysPlan-container reverse">

                    <div class="daysPlan-container-part daysPlan-container-part_flex1">
                        <img [src]="'/assets/images/plan2.png'"/>
                    </div>
                    <div class="daysPlan-container-part daysPlan-container-part_flex2">

                        <label>
                            Day 2: Petra Hotel – Petra Guided Tour – Petra Hotel
                        </label>
                        <small>
                            Awaken in Petra for an unforgetp-table exploration. With an English-speaking guide, traverse the Siq to the Treasury. Discover the Rose City's secrets, including the Street of Facades, Roman Theatre, and Royal Tombs. Explore further to the Byzantine Church, Temple of the Winged Lions, and Great Temple. In the afternoon, delve deeper or ascend to the Monastery and High Place of Sacrifice. Return to your hotel filled with Petra's timeless magic.
                        </small>
                        <span>Meals: Breakfast - Guide: 2 hr Local Guide</span>

                    </div>

                </div>

                <div class="daysPlan-container">

                    <div class="daysPlan-container-part daysPlan-container-part_flex2">

                        <label>
                            Day 3: Petra – Dead Sea (Entrance + Lunch) – Mt. Nebo – Madaba – Amman
                        </label>
                        <small>
                            Bid farewell to Petra and journey to the Dead Sea for a unique floating experience in its mineral-rich waters, followed by a buffet lunch. Ascend to Mt. Nebo, where Moses viewed the Promised Land, and take in the panoramic vistas. Continue to Madaba, known for its 6th-century mosaic map at St. George Church. End your day returning to Amman, reflecting on the spiritual and historical depth of your journey.
                        </small>
                        <span>Meals: Breakfast, Lunch</span>

                    </div>
                    <div class="daysPlan-container-part daysPlan-container-part_flex1">
                        <img [src]="'/assets/images/plan3.png'"/>
                    </div>

                </div>

                <div class="daysPlan-container reverse">

                    <div class="daysPlan-container-part daysPlan-container-part_flex1">
                        <img [src]="'/assets/images/plan4.png'"/>
                    </div>
                    <div class="daysPlan-container-part daysPlan-container-part_flex2">

                        <label>
                            Day 4: Amman – Amman Departure
                        </label>
                        <small>
                            After a hearty breakfast, enjoy a leisurely morning in Amman, perhaps exploring its vibrant markets or savoring a final Jordanian coffee. As your journey comes to a close, you will be transferred to Queen Alia International Airport for your departure. This marks the end of your journey through Jordan's timeless landscape, leaving you with memories to cherish forever.
                        </small>
                        <span>Meals: Breakfast</span>

                    </div>

                </div>

            </div>
 
        </div>
        <img class="linearBottom" [src]="'/assets/images/linear-3.png'"/>

    </section>

</div>