<footer>
 
    <div class="container">

        <div class="footerStart">

            <img class="logo" [src]="'/assets/images/logo-footer.png'" />
            <button class="white">Book now</button>

        </div>
        <div class="footerEnd">
            
            <div class="footerEnd-top">

                <div class="infoGroup">

                    <label>Amman Office:</label>
                    <div>
                        <bdi>+962 7 9883 8838</bdi>
                        <span>-</span>
                        <bdi>+962 798456666</bdi>
                    </div>
                    <small>Mecca Street building # 150 F1 office # 101</small>

                </div>
                <div class="infoGroup">

                    <label>Petra:</label>
                    <div>
                        <bdi>T: +962 3 215 4666</bdi>
                        <span>-</span>
                        <bdi>F: +962 3 215 4600</bdi>
                    </div>
                    <small>PO.Box:112 Wadi Musa-Petra 71810-Jordan</small>

                </div>
                <div class="infoGroup">

                    <label>E-mail:</label>
                    <div>
                        <bdi>www.jordanproduction.com</bdi>
                        <span>-</span>
                        <bdi>www.jordantours-travel.com</bdi>
                    </div>
                    <small>Sales&#64;jordantours-travel.com</small>

                </div>

            </div>
            <div class="footerEnd-bottom">
                <label>© 2024 Company Name.</label>
            </div>
    
        </div> 

    </div>

</footer>